{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6 p-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.7805545361334!2d85.80414731390131!3d20.350682315957798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1908e064769e73%3A0x9288172f3a98c7a4!2sSilicon%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1658476165838!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
        Address
             
    </div>

</div>
<div class="row">
    <div class="col-md-6 mx-auto my-3 p-5 border rounded">
    <h1>Contact Us</h1>
    <form action="thankyou.html" onsubmit="return validate();">
        <div class="my-1">
            <label for="name">Name<span class="text-danger">*</span></label>
            <input type="text" name="name" id="name" class="form-control">
            <label for="name error" id="name_error" class="text-danger"></label> 
        </div>

        <div class="my-1">
            <label for="mobile">Mobile<span class="text-danger">*</span></label>
            <input type="tel" name="mobile" id="mobile" class="form-control">
            <label for="mobile error" id="mobile_error" class="text-danger"></label> 
        </div>

        <div class="my-1">
            <label for="email">Email<span class="text-danger">*</span></label>
            <input type="text" name="email" id="email" class="form-control">
            <label for="email error" id="email_error" class="text-danger"></label> 
        </div>
        <div class="my-1">
            <label for="Suggetion">Suggetion</label>
            <input type="text" name="suggetion" id="suggetion" class="form-control">
            <label for="suggetion error" id="suggetion_error" class="text-danger"></label> 
        </div>

        <input type="submit" value="Submit" class="btn btn-primary w-100 my-2"><br>
        <div class="text-center"><h6>Connect with me</h6>
            <i class="bi bi-instagram"></i><a href="#" target="_blank" style="text-decoration: none;"> Instagram</a>
            <i class="bi bi-facebook"></i><a href="#" target="_blank" style="text-decoration: none;"> Facebook</a>
            <i class="bi bi-twitter"></i><a href="#" target="_blank" style="text-decoration: none;"> Twitter</a>
        </div>
        </form> 
    </div>
    <div class="col-md-6">
        social Media Link

    </div>
</div>
{% endblock content  %}


{% block extrajs %}
    <script src="{% static 'js/form-validator.js'%}"></script>
{% endblock extrajs %}